# GPO backup data
GPOImport/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Node
node_modules/
frontend/dist/

# PyInstaller output
backend/build/
backend/dist/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Config
.env

#electron dist
dist-electron/
release/